#firstImage{
    float: right;
}
h5{
    padding-top: 30px;
    float: left;
    word-break: break-all;
}
.container-fluid{
    padding-top: 20px; 
}
.container{
    padding-top: 50px;
}
#icon{
    color: #00BC7C;
}
.card-text{
    font-weight: 400;
}