<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
           <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#" id="icon">
                        <img src="../images/wallet.png" width="30" height="30" class="d-inline-block align-top" alt="">
                        FamilyWallet
                      </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="signup.html">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm">
                    <h5>This app help you to manage your family finances!</h5>
                </div>
                <div class="col-sm">
                    <img src="../images/img1.png" height="300px" width="600px" id="firstImage">  
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <img src="../images/img2.png" class="card-img-top" alt="..." width="20px" height="180px">
                            <div class="card-body">
                                <p class="card-text"><p id="icon">FamilyWallet</p>helps to have perfect control over all your cash expenses, bank accounts, E-Wallets and crypto wallets.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <img src="../images/img3.png" class="card-img-top" alt="..."  width="20px" height="180px">
                        <div class="card-body">
                            <p class="card-text"><p id="icon">FamilyWallet</p>makes possible to get a quick overview about your total incomes and expenses at a glance and in one place.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <img src="../images/img4.png" class="card-img-top" alt="..." width="5px" height="180px">
                        <div class="card-body">
                            <p class="card-text"><p id="icon">FamilyWallet</p>lets you use our smart budgets to save money for a new car, dreamy vacation or study at a top university.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <p class="card-text">I am using this app for more than two years and I could not be happier with the service I got. I just love this app! </p>
                            <h5 class="card-title">Paolo</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <p class="card-text">The app works intuitively, it makes it super easy to control your money. It helps me to develop healthy spending habits.</p>
                            <h5 class="card-title">Roy</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <p class="card-text">I've tried other money tracking apps before Spendee, but I choose to stick to this because of its simplicity and intuitive design.</p>
                            <h5 class="card-title">Harnet</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>